{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}About All by f14{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="{% static 'assets/favicon-32x32.png' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
    {% tailwind_css %}
</head>

<body class="leading-normal tracking-normal overflow-y-hidden" style="background-image: url('../static/assets/background.svg');">
	<!-- Header -->
    <header class="bg-slate-50 text-black p-4 shadow-2xl fixed w-full">
        <nav class="container mx-auto flex justify-between items-center">
            <a href="/" class="flex items-center gap-2">
                <img src="{% static 'assets/logo.svg' %}" class="w-20 h-10 mr-2" alt="Logo">
                <p class="font-bold italic text-2xl duration-200">ABOUT ALL by F14</p>
            </a>
            <ul class="flex space-x-4">
                <li><a href="/weather/" class="hover:text-gray-300 duration-200">Погода</a></li>
                <li><a href="#" class="hover:text-gray-300 duration-200">Курсы валют</a></li>
                <li><a href="#" class="hover:text-gray-300 duration-200">Об авторе</a></li>
            </ul>
        </nav>
    </header>

    <div class="container mx-auto">
        {% block content %}
        <!-- Контент каждой страницы будет вставляться сюда -->
        {% endblock %}
    </div>

	<!-- Footer -->
    <footer class="bg-slate-50 pb-10 text-black">
        <div class="container mx-auto text-center">
            <p>&copy; 2024 AboutAll by f14</p>
        </div>
    </footer>
</body>
</html>
