{% extends "base.html" %}

{% block title %}Главная{% endblock %}

{% block content %}
<div class="flex items-center justify-center h-screen">
    <div class="w-1/2 h-1/2 bg-white/90 shadow-2xl rounded-xl backdrop-blur-sm mx-auto">
        <h1 class="text-5xl font-medium p-5 text-center">Привет, работодатель!</h1>
        <p class="text-xl pl-5 pb-3">Сайт разработан с использованием мощного фреймворка Django и стильного дизайна с помощью Tailwind CSS.</p>
        <p class="text-xl pl-5 pb-3">Смысл разработки сайта заключается в работе с API различных сервисов.</p>
        <p class="text-xl pl-5 pb-3">Предлагаю оценить возможности сайта, нажав на кнопки ниже или на шапке сайта.</p>
        <div class="grid grid-cols-3 gap-2 p-5">
            <a href="weather/" class="bg-blue-500 hover:bg-blue-600 text-white rounded-lg p-2">Погода</a>
            <a href="#" class="bg-blue-500 hover:bg-blue-600 text-white rounded-lg p-2">Курсы валют</a>
        </div>
        <p class="text-md pl-5 pb-3">Ссылка на проект в GitHub: <a href="https://github.com/f14/aboutall" class="underline">https://github.com/weidermartenn/project4emp</a></p>
    </div>
</div>
{% endblock %}
